UPLOAD_FOLDER = "/opt/pydl/files/"
FILE_LIST = "/opt/pydl/uploaded_files_jsondb"
TMP_FOLDER = "/opt/pydl/tmp"
EXPIRE = 86400
DEBUG_PORT = 5000
LOG = "/tmp/pastefile.log"

# List of features you want to disable
# Allowed value : delete, ls
DISABLED_FEATURE = []
# Display file like png or txt directly in your browser instead of asking for download.
# Give the list of user agent on wich you want to enable direct display feature. Allowed list from flask `request.user_agent.browser`
DISPLAY_FOR = ['chrome', 'firefox']
